header, section, footer {
    padding: 0px 8px;
    overflow: auto;
}

body {
    background-color: #bbddff;
    font-family: Arial;
    margin: 0px;
    /* variables CSS globales */
    --padding-h-menu: 16px; /* padding horizontal des éléments du menu */
    --width-menu-item: 100px /* largeur des éléments du menu lorsqu'il est étendable */
}

nav {
    background-color: #000000;
    color: white;
    overflow: auto;
}

#expand-button {
    background-color: #000000;
    color: white;
    display: none;
    float: left;
    padding: 14px var(--padding-h-menu);
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    position:fixed;
    z-index: 255;
}

.menu-item {
    width: 85px;
    float: left;
    padding: 14px var(--padding-h-menu);
    border-right: 1px solid white;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

#menu-item-selected {
    background-color: #228B22;
}

a:hover.menu-item {
    background-color: #ddd;
    color: black;
}

#connectionLabel {
    float: right;
    width: initial;
}

@media screen and (max-width: 900px) {
    nav {
        display: none;
        position:fixed;
        z-index: 255;
        width: calc(var(--width-menu-item) + var(--padding-h-menu) * 2);
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
    }

    #expand-button {
        display: inline-block;
    }
    
    .menu-item {
        width: var(--width-menu-item);
        border: initial;
        float: right;
        border-bottom: 1px solid white;
    }
    
    #connectionLabel {
        float: right;
        width: var(--width-menu-item);
        border-bottom: initial;
    }
}

section {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    overflow: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.file-upload{
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
}

.form-control {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.submit-btn {
    margin: auto;
    display: block;
    min-width: 20px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: .3rem;
}

.centered-title {
	text-align: center;
}

#carrousel {
    --carrousel-height: 40vh;
    height: var(--carrousel-height);
    line-height: var(--carrousel-height); /* permet centrage vertical */
    text-align: center;
    background-color: lightgrey;
	overflow: hidden;
	white-space: nowrap;
}

.bouton-carrousel {
    display: inline-block;
    background-color: white;
    padding: 0 50px;
    cursor: pointer;
}

#bouton-carrousel-gauche {
    float: left;
}

#compteur-images{
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    top: -18px;
    z-index: -1; /* empêche l'élément de se retrouver devant les boutons du carrousel */
}

#bouton-carrousel-droite {
    float: right;
}

.img-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    right: 0%;
    --trans-carrousel: right 1s ease-in-out;
    -webkit-transition: var(--trans-carrousel);
    -moz-transition: var(--trans-carrousel);
    -o-transition: var(--trans-carrousel);
    transition: var(--trans-carrousel);
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-bottom: 3px; /* compense un décalage dans l'alignement vertical */
}

#filename {
	background-color: rgba(250, 250, 250, 1);
    box-shadow: 0px 0px 3px black;
}
