header, section, footer {
	padding-left: 8px;
}

body {
	background-color: #bbddff;
	font-family: Arial;
	margin: 0px;
}

nav {
	background-color: #000000;
	color: white;
	overflow: auto;
}

.menu-item {
	display: inline-block;
	width: 60px;
	padding: 10px;
	border-right: 1px solid white;
	color: inherit;
	text-decoration: none;
	text-align: center;
}

#menu-item-selected {
	background-color: #228B22;
}

a:hover.menu-item {
	font-weight: bold;
}